/* 1440px */
/* @media (min-width: 90rem) { */
@media (min-width: 900px) {
    .app-container {
        max-width: 90rem;
        display: flex;
        /* 160px */
        margin-block: 10rem;
        border-radius: 1rem;
        padding: 1rem;
        /* 100px */
        padding-inline-end: 6.25rem;
        /* 100px */
        gap: 6.25rem;
        background-color: var(--white);
        box-shadow: 0 0 0.5rem var(--shadow);
    }

    .aside {
        /* 274px */
        width: 17.125rem;
        /* 568px */
        height: 35.5rem;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0;
        border-radius: 1rem;
        padding: 0 2rem;
        background-image: url('assets/images/bg-sidebar-desktop.svg');
    }

    .step-number,
    .step-title {
        display: block;
        text-transform: uppercase;
        font-size: var(--fs-14);
        color: var(--coolGray);
    }

    .step-item {
        gap: 1rem;
        align-items: center;
    }

    .step-item:first-child {
        margin-block-start: 2.5rem;
    }

    .step-title {
        /* 2px */
        letter-spacing: .125rem;
        font-weight: var(--fw-bold);
        font-size: var(--fs-normal);
        color: var(--alabaster);
    }

    .desktop-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 460px;
    }

    .main {
        top: 0;
        box-shadow: none;
        margin-inline: 0;
        margin-block-start: 3rem;

        h1 {
            font-size: 2rem;
        }
    }

    .step {
        padding: 0;
        gap: 1.75rem;

        .input {
            padding: 1rem;
        }
    }

    .plan-wrapper {
        flex-direction: row;
    }

    .plan-item {
        /* 140px */
        width: 8.75rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-step {
        padding-inline-end: 0;

        #button-confirm,
        #button-next-step {
            padding: 1rem 2rem;
        }
    }

    .thanks {
        margin-block-start: 8rem;

        img {
            /* 80px */
            width: 5rem;
            height: 5rem;
        }
    }

    .attribution a {
        font-size: var(--fs-normal);
    }
}